
     h1 {
         background-color:yellow
         }
         img {
         width:200px;
         height: auto;
         }
         video {
         width: 320px;
         height: auto;
         }
         iframe {
         width: 320px;
         height: auto;

         }
  